table {
  background-color: #f5f5f5;
  width: 100%;
}
.container {
  font-family: Helvetica Neue, Arial, sans-serif;
  width: 100%;
  background-color: #ffffff;
  border-collapse: separate !important;
  border-spacing: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 30px 40px;
}
.title {
  font-size: 22px;
  font-weight: bold;
}
.main {
  padding: 20px 0;
}
td {
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
.plan-button {
  text-align: center;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #6cb79f;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
}
.topup {
  margin-bottom: 30px;
}
.order {
  text-align: center;
}
.order-number {
  margin: 20px 0;
  font-weight: bold;
  font-size: 22px;
}