extends ../layout.pug

block content
  p.title(style="text-align: center;") ¡Disfruta de tu #{itemName} en #{shopName}!
  p Para ello, debes enseñar tu número de pedido al personal de #{shopName}.
  div.order Tu número de pedido es
    div.order-number #{orderNumber}
  p(style="text-align: center;") ¡Disfrútalo, te lo mereces!
  p.topup Además, los mejores cafés y tés de la ciudad te están esperando.
    br
    | Elige un plan para recargar tu cuenta.
  a(href=`${clientHost}#shoppingPlans`, target="_blank")
    div.plan-button Elegir Plan
  p Att. El equipo de Barissta
