extends ../layout.pug

block content
  p.title(style="text-align: center;") Bienvenid@ a Barissta,
  p(style="text-align: center;") Elige tu cafetería, decide lo que quieres tomar, y págalo todo desde tu móvil sin complicaciones.
  p(style="font-size: 22px; text-align: center;")
    strong ¿Qué queremos? ¡Que disfrutes con nosotros!
  ul(style="font-size: 14px; margin: 30px 0;")
    li 
      div(style="font-size: 15px; color: #10ABA3; text-transform: uppercase;") Somos expertos en café
      div Nos encanta su olor, su sabor, y sobretodo lo que inspira una rica taza de café
    li
      div(style="font-size: 15px; color: #10ABA3; text-transform: uppercase;") Tenemos la mayor red  de cafeterías independientes
      div Hemos conseguido las mejores cafeterías de tu ciudad para que disfrutes del mejor café.
    li
      div(style="font-size: 15px; color: #10ABA3; text-transform: uppercase;") Nos olvidamos de la cartera
      div Deja la cartera en casa y paga cómodamente a través nuestro, ahorrando todos los meses
  p(style="font-size: 20px; text-align: center;")
    strong ¡Empieza a disfrutar con Barissta!
