extends ../layout.pug

block content
  p.title(style="text-align: center;") Recuperación de contraseña
  
  p Ahora puedes crear tu nueva contraseña, para ello solo debes de entrar en el siguiente enlace:
    
  p
    a(href=`${clientHost}recover-password/${token}`) Recuperar contraseña
    | .
  p Este enlace caduca en 5 minutos.
  p Att. El equipo de Barissta
